body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(120deg, #bcd5d4 0%, #e0e0e0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(120deg, #22d9d3 0%, #f0f0f0 100%);
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  position: relative;
}

#toolbar div {
  display: flex;
}

#toolbar button {
  background-color: #fafafa;
  justify-content: space-between;
  background-image: linear-gradient(120deg, #53b6e8 0%, #9ed6dd 100%);
  border: 1px solid #e0e0e0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

#toolbar button:last-child {
  margin-right: 0;
}

#toolbar button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(120deg, #275f5e 0%, #cdebe6 100%);
}

#toolbar button.active {
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

#toolbar button i {
  margin-right: 5px;
}

.toolbar-divider {
  border-left: 1px solid #725c5c;
  height: 10px;
  margin: 0 15px;
}

#canvas-wrapper {
  position: relative;
  display: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-width: 100%;
  max-height: 80vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#annotation-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#file-input {
  display: none;
}

#no-pdf-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #333;
  display: block;
  background-color: #bdf0e6;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10
